In [1]:
import pandas as pd

In [2]:

import sys
sys.path.append("../scripts")
from insurance_data_analysis import InsuranceDataAnalysis
import importlib

c:\Users\hp\keep_it\Tenx\kaim-week3\notebooks\../scripts\insurance_data_analysis.py:49: SyntaxWarning: invalid escape sequence '\T'
  print("\Top Categorical-Like Columns (object or category):")
c:\Users\hp\keep_it\Tenx\kaim-week3\notebooks\../scripts\insurance_data_analysis.py:59: SyntaxWarning: invalid escape sequence '\ '
  print("\ Missing Values Summary:")

In [3]:
import insurance_data_analysis
importlib.reload(insurance_data_analysis)
from insurance_data_analysis import InsuranceDataAnalysis

In [4]:
df = pd.read_csv('../data/raw/insurance_data.txt', sep='|')
assert not df.empty, "Data import failed - DataFrame is empty!"
insurance_analysis = InsuranceDataAnalysis(df)

C:\Users\hp\AppData\Local\Temp\ipykernel_23072\672543247.py:1: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw/insurance_data.txt', sep='|')

# Describe

In [5]:
insurance_analysis.display_shape()

(1000098, 52)

In [9]:
insurance_analysis.display_description()

,UnderwrittenCoverID,PolicyID,PostalCode,mmcode,RegistrationYear,Cylinders,cubiccapacity,kilowatts,NumberOfDoors,CustomValueEstimate,NumberOfVehiclesInFleet,SumInsured,CalculatedPremiumPerTerm,TotalPremium,TotalClaims
count,1.000098e+06,1.000098e+06,1.000098e+06,9.995460e+05,1.000098e+06,999546.000000,999546.000000,999546.000000,999546.000000,2.204560e+05,0.0,1.000098e+06,1.000098e+06,1.000098e+06,1.000098e+06
mean,1.048175e+05,7.956682e+03,3.020601e+03,5.487770e+07,2.010225e+03,4.046642,2466.743258,97.207919,4.019250,2.255311e+05,NaN,6.041727e+05,1.178757e+02,6.190550e+01,6.486119e+01
std,6.329371e+04,5.290039e+03,2.649854e+03,1.360381e+07,3.261391e+00,0.294020,442.800640,19.393256,0.468314,5.645157e+05,NaN,1.508332e+06,3.997017e+02,2.302845e+02,2.384075e+03
min,1.000000e+00,1.400000e+01,1.000000e+00,4.041200e+06,1.987000e+03,0.000000,0.000000,0.000000,0.000000,2.000000e+04,NaN,1.000000e-02,0.000000e+00,-7.825768e+02,-1.200241e+04
25%,5.514300e+04,4.500000e+03,8.270000e+02,6.005692e+07,2.008000e+03,4.000000,2237.000000,75.000000,4.000000,1.350000e+05,NaN,5.000000e+03,3.224800e+00,0.000000e+00,0.000000e+00
50%,9.408300e+04,7.071000e+03,2.000000e+03,6.005842e+07,2.011000e+03,4.000000,2694.000000,111.000000,4.000000,2.200000e+05,NaN,7.500000e+03,8.436900e+00,2.178333e+00,0.000000e+00
75%,1.391900e+05,1.107700e+04,4.180000e+03,6.005842e+07,2.013000e+03,4.000000,2694.000000,111.000000,4.000000,2.800000e+05,NaN,2.500000e+05,9.000000e+01,2.192982e+01,0.000000e+00
max,3.011750e+05,2.324600e+04,9.870000e+03,6.506535e+07,2.015000e+03,10.000000,12880.000000,309.000000,6.000000,2.655000e+07,NaN,1.263620e+07,7.442217e+04,6.528260e+04,3.930921e+05

In [6]:
insurance_analysis.display_columns()

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language',
       'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province',
       'PostalCode', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode',
       'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders',
       'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors',
       'VehicleIntroDate', 'CustomValueEstimate', 'AlarmImmobiliser',
       'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff',
       'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet',
       'SumInsured', 'TermFrequency', 'CalculatedPremiumPerTerm',
       'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section',
       'Product', 'StatutoryClass', 'StatutoryRiskType', 'TotalPremium',
       'TotalClaims'],
      dtype='object')

In [7]:
target_cols = ['TotalPremium', 'TotalClaims', 'CustomValueEstimate', 'CalculatedPremiumPerTerm', 'SumInsured']

insurance_analysis.describe_selected_numericals(target_cols)

 Descriptive statistics for selected columns: ['TotalPremium', 'TotalClaims', 'CustomValueEstimate', 'CalculatedPremiumPerTerm', 'SumInsured']
                              count           mean           std  \
SumInsured                1000098.0  604172.732589  1.508332e+06
CustomValueEstimate        220456.0  225531.129942  5.645157e+05
TotalClaims               1000098.0      64.861190  2.384075e+03
CalculatedPremiumPerTerm  1000098.0     117.875691  3.997017e+02
TotalPremium              1000098.0      61.905496  2.302845e+02

                                   min          25%            50%  \
SumInsured                    0.010000    5000.0000    7500.000000
CustomValueEstimate       20000.000000  135000.0000  220000.000000
TotalClaims              -12002.412281       0.0000       0.000000
CalculatedPremiumPerTerm      0.000000       3.2248       8.436900
TotalPremium               -782.576754       0.0000       2.178333

                                    75%           max
SumInsured                250000.000000  1.263620e+07
CustomValueEstimate       280000.000000  2.655000e+07
TotalClaims                    0.000000  3.930921e+05
CalculatedPremiumPerTerm      90.000000  7.442217e+04
TotalPremium                  21.929825  6.528260e+04

In [7]:
insurance_analysis.check_data_structure()

Column Data Types Overview:
object     36
float64    11
int64       4
bool        1
Name: count, dtype: int64

Full Data Type Listing:
UnderwrittenCoverID: int64
PolicyID: int64
TransactionMonth: object
IsVATRegistered: bool
Citizenship: object
LegalType: object
Title: object
Language: object
Bank: object
AccountType: object
MaritalStatus: object
Gender: object
Country: object
Province: object
PostalCode: int64
MainCrestaZone: object
SubCrestaZone: object
ItemType: object
mmcode: float64
VehicleType: object
RegistrationYear: int64
make: object
Model: object
Cylinders: float64
cubiccapacity: float64
kilowatts: float64
bodytype: object
NumberOfDoors: float64
VehicleIntroDate: object
CustomValueEstimate: float64
AlarmImmobiliser: object
TrackingDevice: object
CapitalOutstanding: object
NewVehicle: object
WrittenOff: object
Rebuilt: object
Converted: object
CrossBorder: object
NumberOfVehiclesInFleet: float64
SumInsured: float64
TermFrequency: object
CalculatedPremiumPerTerm: float64
ExcessSelected: object
CoverCategory: object
CoverType: object
CoverGroup: object
Section: object
Product: object
StatutoryClass: object
StatutoryRiskType: object
TotalPremium: float64
TotalClaims: float64

Checking date format for 'TransactionMonth':
'TransactionMonth' is NOT in datetime format.
\Top Categorical-Like Columns (object or category):
 - TransactionMonth (23 unique values)
 - Citizenship (4 unique values)
 - LegalType (6 unique values)
 - Title (5 unique values)
 - Language (1 unique values)
 - Bank (11 unique values)
 - AccountType (3 unique values)
 - MaritalStatus (3 unique values)
 - Gender (3 unique values)
 - Country (1 unique values)

In [12]:
df['TransactionMonth'] = pd.to_datetime(df['TransactionMonth'], errors='coerce')
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

# Missing Values

In [8]:
summarize_missing_values = insurance_analysis.summarize_missing_values(top_n=50)

\ Missing Values Summary:
                         Missing Count  Missing Percent
NumberOfVehiclesInFleet        1000098       100.000000
CrossBorder                     999400        99.930207
CustomValueEstimate             779642        77.956560
WrittenOff                      641901        64.183810
Converted                       641901        64.183810
Rebuilt                         641901        64.183810
NewVehicle                      153295        15.327998
Bank                            145961        14.594670
AccountType                      40232         4.022806
Gender                            9536         0.953507
MaritalStatus                     8259         0.825819
mmcode                             552         0.055195
VehicleType                        552         0.055195
make                               552         0.055195
VehicleIntroDate                   552         0.055195
NumberOfDoors                      552         0.055195
bodytype                           552         0.055195
kilowatts                          552         0.055195
cubiccapacity                      552         0.055195
Cylinders                          552         0.055195
Model                              552         0.055195
CapitalOutstanding                   2         0.000200

22 columns have missing values.

# Clean and Save data

In [9]:
df = insurance_analysis.clean_and_save_data(output_path='../data/processed/insurance_data_cleaned.csv')

Starting data cleaning...
✅ Dropped columns: ['NumberOfVehiclesInFleet', 'CrossBorder', 'WrittenOff', 'Converted', 'Rebuilt']
✅ Filled 'CustomValueEstimate' with median: 220000.0
✅ Filled 'NewVehicle' with 'No'
✅ Filled 'Bank' with 'Unknown'
✅ Filled 'AccountType' with mode: Current account

c:\Users\hp\keep_it\Tenx\kaim-week3\notebooks\../scripts\insurance_data_analysis.py:106: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df['CustomValueEstimate'].fillna(median_value, inplace=True)
c:\Users\hp\keep_it\Tenx\kaim-week3\notebooks\../scripts\insurance_data_analysis.py:110: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df['NewVehicle'].fillna('No', inplace=True)
c:\Users\hp\keep_it\Tenx\kaim-week3\notebooks\../scripts\insurance_data_analysis.py:114: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df['Bank'].fillna('Unknown', inplace=True)
c:\Users\hp\keep_it\Tenx\kaim-week3\notebooks\../scripts\insurance_data_analysis.py:119: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df['AccountType'].fillna(mode_val, inplace=True)

✅ Dropped rows with missing values in: ['Gender', 'MaritalStatus', 'make', 'Model', 'mmcode', 'VehicleType', 'bodytype', 'VehicleIntroDate', 'CapitalOutstanding']
📁 Cleaned data saved to: ../data/processed/insurance_data_cleaned.csv